html{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
}

nav{
    height: 120px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav a{
    height: 90%;
    margin-left: 40px;
}

nav img{
    height: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0;
}

nav ul a{
    text-decoration: none;
    color: #1d396b;
    font-weight: 700;
    font-size: 24px;
    margin-right: 40px;
}

nav ul a:hover{
    color: #2a549b;
}

.portada{
    height: 680px;
    background-color: #1d396b;
    object-fit: cover;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenida{
    font-size: 70px;
    color: #1d396b;
}

.recomendacion{
    width: 50%;
    border-radius: 10px;
    border: 2px solid #1d396b;
    padding: 18px;
}

.recomendacion h2{
    color: #1d396b;
    font-size: 25px;
}

.recomendacion p{
    font-size: 18px;
}

.contenedor-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-historia{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.contenedor-historia .imghist{
    height: 400px;
    width: 500px;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 50px;
}

.cont-texth{
    font-size: 25px;
    margin: 10px;
    text-align: justify;
    display: block;
    border-radius: 10px;
    border: 2px solid #1d396b;
    padding: 15px;
}

.cont-texth h2{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #1d396b;

}


.contenedor-mvv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    padding-bottom:20px;
}

.mvv-info{
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.mvv-info h2{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #3f5d92;
}

.mvv-info p{
    font-size: 25px;
    text-align: justify;
}

.mvv-info .img{
    width: 50%;
    padding-left: 200px;
}

.valores-info{
    display: block;
}

.valores-info .img{
    width: 35%;
    padding-left: 400px;
    padding-bottom: 20px;
}

.valores-info h2{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #3f5d92;
}

.cont-textmvv h1{
    text-align: justify;
    font-weight: bold;
}

.grupo {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
  }

.grupo h1, .grupo p{
    margin: 1.5px;
    font-size: 25px;
  }


/*footer{
    height: 40px;
    background-color: #1d396b;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer p{
    margin: 0;
    padding: 0;
    color: white;    
    font-size: 18px;
}*/

footer{
    padding-top: 80px;
    color: white;    
    font-size: 18px;
}

.footer-contenedor{
    background-color: #5d5f61;
    padding-top: 20px;
}


.footer-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infoimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contact .p1{
    text-align: center;
    color: rgb(190, 188, 188);  
}

.footer-contact img{
    width: 30px;
    height: 35px;
    padding-right: 10px;
}

.info{
    text-align: center;
    background-color: #1d396b;
}